<!-- <ion-header>
  <ion-toolbar>
    <ion-title>datadiri</ion-title>
  </ion-toolbar>
</ion-header>
 -->

<ion-content>

  <main>
    <div class="container">

      <p class="title">Data Diri</p>
  
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Jenis Kelamin</ion-label>
          <ion-select placeholder="Pilih Jenis Kelamin">
            <ion-select-option value="Laki-laki">Laki-laki</ion-select-option>
            <ion-select-option value="Perempuan">Perempuan</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Pekerjaan</ion-label>
          <ion-select placeholder="Pilih Pekerjaan">
            <ion-select-option value="Kantoran">Kantoran</ion-select-option>
            <ion-select-option value="Buruh Pabrik">Buruh Pabrik</ion-select-option>
            <ion-select-option value="Wirausahawan">Wirausahawan</ion-select-option>x
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tanggal Lahir</ion-label>
          <ion-input type="date" placeholder="contoh : 12/03/1980"></ion-input>
        </ion-item>
      </ion-list>
      
    </div>
  
    <div class="container">
      <div class="mt24">
        <ion-button expand="full" [routerLink]="['/datadiriss']" >Selanjutnya</ion-button>
      </div>
    </div>
  </main>

</ion-content>
