p.title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    font-weight: 600;
}

.mb24 {
	margin-bottom: 24px;
}

p.title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-bottom: 24px;
}

.mt24 {
	margin-top: 24px;
}

ion-item {
    margin-bottom: 8px;
    border-radius: 4px;
}

main {
    position: relative;
    height: 100%;
    background: url("../../assets/bg-yellows.avif");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.abs-ctr {
    position: absolute;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-button.btn-submit {
    height: 50px;
}