<!-- <ion-header>
  <ion-toolbar>
    <ion-title>datadiri</ion-title>
  </ion-toolbar>
</ion-header>
 -->

<ion-content>

  <main>
    <div class="container">

      <p class="title">Data Diri</p>
  
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nama</ion-label>
          <ion-input placeholder="contoh : Rusmana B"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">No. Handphone</ion-label>
          <ion-input type="number" placeholder="contoh : 081xx xxx xxx"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alamat</ion-label>
          <ion-input placeholder="contoh: Parung Panjang"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kota</ion-label>
          <ion-select placeholder="Pilih Kota">
            <ion-select-option value="Banda Aceh">Banda Aceh</ion-select-option>
            <ion-select-option value="Langsa">Langsa</ion-select-option>
            <ion-select-option value="Lhokseumawe">Lhokseumawe</ion-select-option>
            <ion-select-option value="Sabang">Sabang</ion-select-option>
            <ion-select-option value="Subulussalam">Subulussalam</ion-select-option>
            <ion-select-option value="Denpasar">Denpasar</ion-select-option>
            <ion-select-option value="Pangkalpinang">Pangkalpinang</ion-select-option>
            <ion-select-option value="Cilegon">Cilegon</ion-select-option>
            <ion-select-option value="Serang">Serang</ion-select-option>
            <ion-select-option value="Tangerang Selatan">Tangerang Selatan</ion-select-option>
            <ion-select-option value="Tangerang">Tangerang</ion-select-option>
            <ion-select-option value="Bengkulu">Bengkulu</ion-select-option>
            <ion-select-option value="Yogyakarta">Yogyakarta</ion-select-option>
            <ion-select-option value="Gorontalo">Gorontalo</ion-select-option>
            <ion-select-option value="Jakarta Barat">Jakarta Barat</ion-select-option>
            <ion-select-option value="Jakarta Pusat">Jakarta Pusat</ion-select-option>
            <ion-select-option value="Jakarta Selatan">Jakarta Selatan</ion-select-option>
            <ion-select-option value="Jakarta Timur">Jakarta Timur</ion-select-option>
            <ion-select-option value="Jakarta Utara">Jakarta Utara</ion-select-option>
            <ion-select-option value="Sungai Penuh">Sungai Penuh</ion-select-option>
            <ion-select-option value="Jambi">Jambi</ion-select-option>
            <ion-select-option value="Bandung">Bandung</ion-select-option>
            <ion-select-option value="Bekasi">Bekasi</ion-select-option>
            <ion-select-option value="Bogor">Bogor</ion-select-option>
            <ion-select-option value="Cimahi">Cimahi</ion-select-option>
            <ion-select-option value="Cirebon">Cirebon</ion-select-option>
            <ion-select-option value="Depok">Depok</ion-select-option>
            <ion-select-option value="Sukabumi">Sukabumi</ion-select-option>
            <ion-select-option value="Tasikmalaya">Tasikmalaya</ion-select-option>
            <ion-select-option value="Banjar">Banjar</ion-select-option>
            <ion-select-option value="Magelang">Magelang</ion-select-option>
            <ion-select-option value="Pekalongan">Pekalongan</ion-select-option>
            <ion-select-option value="Salatiga">Salatiga</ion-select-option>
            <ion-select-option value="Semarang">Semarang</ion-select-option>
            <ion-select-option value="Surakarta">Surakarta</ion-select-option>
            <ion-select-option value="Tegal">Tegal</ion-select-option>
            <ion-select-option value="Batu">Batu</ion-select-option>
            <ion-select-option value="Blitar">Blitar</ion-select-option>
            <ion-select-option value="Kediri">Kediri</ion-select-option>
            <ion-select-option value="Madiun">Madiun</ion-select-option>
            <ion-select-option value="Malang">Malang</ion-select-option>
            <ion-select-option value="Mojokerto">Mojokerto</ion-select-option>
            <ion-select-option value="Pasuruan">Pasuruan</ion-select-option>
            <ion-select-option value="Probolinggo">Probolinggo</ion-select-option>
            <ion-select-option value="Surabaya">Surabaya</ion-select-option>
            <ion-select-option value="Pontianak">Pontianak</ion-select-option>
            <ion-select-option value="Singkawang">Singkawang</ion-select-option>
            <ion-select-option value="Banjarbaru">Banjarbaru</ion-select-option>
            <ion-select-option value="Banjarmasin">Banjarmasin</ion-select-option>
            <ion-select-option value="Palangka Raya">Palangka Raya</ion-select-option>
            <ion-select-option value="Balikpapan">Balikpapan</ion-select-option>
            <ion-select-option value="Bontang">Bontang</ion-select-option>
            <ion-select-option value="Samarinda">Samarinda</ion-select-option>
            <ion-select-option value="Nusantara">Nusantara</ion-select-option>
            <ion-select-option value="Tarakan">Tarakan</ion-select-option>
            <ion-select-option value="Batam">Batam</ion-select-option>
            <ion-select-option value="Tanjungpinang">Tanjungpinang</ion-select-option>
            <ion-select-option value="Bandar Lampung">Bandar Lampung</ion-select-option>
            <ion-select-option value="Metro">Metro</ion-select-option>
            <ion-select-option value="Ternate">Ternate</ion-select-option>
            <ion-select-option value="Tidore Kepulauan">Tidore Kepulauan</ion-select-option>
            <ion-select-option value="Ambon">Ambon</ion-select-option>
            <ion-select-option value="Tual">Tual</ion-select-option>
            <ion-select-option value="Bima">Bima</ion-select-option>
            <ion-select-option value="Mataram">Mataram</ion-select-option>
            <ion-select-option value="Kupang">Kupang</ion-select-option>
            <ion-select-option value="Sorong">Sorong</ion-select-option>
            <ion-select-option value="Jayapura">Jayapura</ion-select-option>
            <ion-select-option value="Dumai">Dumai</ion-select-option>
            <ion-select-option value="Pekanbaru">Pekanbaru</ion-select-option>
            <ion-select-option value="Makassar">Makassar</ion-select-option>
            <ion-select-option value="Palopo">Palopo</ion-select-option>
            <ion-select-option value="Parepare">Parepare</ion-select-option>
            <ion-select-option value="Palu">Palu</ion-select-option>
            <ion-select-option value="Baubau">Baubau</ion-select-option>
            <ion-select-option value="Kendari">Kendari</ion-select-option>
            <ion-select-option value="Bitung">Bitung</ion-select-option>
            <ion-select-option value="Kotamobagu">Kotamobagu</ion-select-option>
            <ion-select-option value="Manado">Manado</ion-select-option>
            <ion-select-option value="Tomohon">Tomohon</ion-select-option>
            <ion-select-option value="Bukittinggi">Bukittinggi</ion-select-option>
            <ion-select-option value="Padang">Padang</ion-select-option>
            <ion-select-option value="Padang Panjang">Padang Panjang</ion-select-option>
            <ion-select-option value="Pariaman">Pariaman</ion-select-option>
            <ion-select-option value="Payakumbuh">Payakumbuh</ion-select-option>
            <ion-select-option value="Sawahlunto">Sawahlunto</ion-select-option>
            <ion-select-option value="Solok">Solok</ion-select-option>
            <ion-select-option value="Lubuklinggau">Lubuklinggau</ion-select-option>
            <ion-select-option value="Pagar Alam">Pagar Alam</ion-select-option>
            <ion-select-option value="Palembang">Palembang</ion-select-option>
            <ion-select-option value="Prabumulih">Prabumulih</ion-select-option>
            <ion-select-option value="Binjai">Binjai</ion-select-option>
            <ion-select-option value="Gunungsitoli">Gunungsitoli</ion-select-option>
            <ion-select-option value="Medan">Medan</ion-select-option>
            <ion-select-option value="Padangsidimpuan">Padangsidimpuan</ion-select-option>
            <ion-select-option value="Pematangsiantar">Pematangsiantar</ion-select-option>
            <ion-select-option value="Sibolga">Sibolga</ion-select-option>
            <ion-select-option value="Tanjungbalai">Tanjungbalai</ion-select-option>
            <ion-select-option value="Tebing Tinggi">Tebing Tinggi</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kodepos</ion-label>
          <ion-input type="number" placeholder="contoh : 12345"></ion-input>
        </ion-item>
      </ion-list>
      
    </div>
  
    <div class="container">
      <div class="mt24">
        <ion-button expand="full" [routerLink]="['/datadiris']" >Selanjutnya</ion-button>
      </div>
    </div>
  </main>

</ion-content>
